{% extends 'breedingcowsapp/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for breeding_cow in breeding_cows %}
                <div class="breeding_cow">
                    <h2><a href= "{% url 'breeding_cow_detail' pk=breeding_cow.pk %}">Localidad: {{ breeding_cow.location }}</a></h2>
                    <div class="date">
                        <p>Alta: {{ breeding_cow.entry_date }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}