{% extends 'breedingcows/base.html' %}

{% block header %}
    <h4 class="page-title pull-left">Notificaciones</h4>
    <ul class="breadcrumbs pull-left">
        <li><a href="{% url 'breeding_cow_detail' pk=breeding_cow.pk %}">Detalle del Rodeo de Cría</a></li>
        <li><span>Notificaciones</span></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-8 mt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Accordion 1</h4>
                    <div id="accordion4" class="according accordion-s3 gradiant-bg">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#accordion41">Collapsible Group
                                    Item #1</a>
                            </div>
                            <div id="accordion41" class="collapse show" data-parent="#accordion4">
                                <div class="card-body">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eaque porro alias assumenda accusamus incidunt odio molestiae maxime quo atque in et quaerat, vel unde aliquam aperiam quidem consectetur omnis dicta officiis? Dolorum, error dolorem!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#accordion42">Collapsible
                                    Group Item #2</a>
                            </div>
                            <div id="accordion42" class="collapse" data-parent="#accordion4">
                                <div class="card-body">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eaque porro alias assumenda accusamus incidunt odio molestiae maxime quo atque in et quaerat, vel unde aliquam aperiam quidem consectetur omnis dicta officiis? Dolorum, error dolorem!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#accordion43">Collapsible
                                    Group Item #3</a>
                            </div>
                            <div id="accordion43" class="collapse" data-parent="#accordion4">
                                <div class="card-body">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eaque porro alias assumenda accusamus incidunt odio molestiae maxime quo atque in et quaerat, vel unde aliquam aperiam quidem consectetur omnis dicta officiis? Dolorum, error dolorem!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
