{% extends 'breedingcows/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block header %}
    <h4 class="page-title pull-left">Dashboard</h4>
    <ul class="breadcrumbs pull-left">
        <li><a href="{% url 'breeding_cow_detail' pk=breeding_cow.pk %}">Detalle del Rodeo de Cría</a></li>
        <li><span>Dashboard del Rodeo</span></li>
    </ul>
{% endblock %}

{% block content %}
    <body onload="loadCharts(
    {{ data.animals_types }},
    {{ data.animals_count_by_types }},
    {{ data.vacas_insemination }},
    {{ data.vacas_natural }},
    {{ data.vacas_insemination_last_year }},
    {{ data.vacas_natural_last_year }},
    {{ data.reproductions_in_process_animals_types }},
    {{ data.reproductions_in_process }},
    {{ data.sexual_maturity_count }},
    {{ data.body_development_count }},
    {{ data.disease_count }},
    {{ data.animals_count }});">
        <div class="row">
    		<div class="col-lg-8 mt-3">
                <div class="card" style="min-height: 100%;">
                    <div class="card-body" style="display:flex; justify-content: center; align-items: center;">
                        <div class="row">
                            <div class="col-md-12">
                               <h2><img src="{% static '/assets/images/icon/dashboard_icon.jpeg' %}" width="80" height="80"> Tablero del Rodeo</h2>
                           </div>
                            <div class="col-md-12 mt-2 mb-3">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon"><i><img src="{% static '/assets/images/icon/cow_white1.png' %}" alt="icon"></i> Total de animales</div>
                                        <h2>{{data.animals_count}}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="seo-fact sbg2">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon"><i class="fa fa-balance-scale"></i> Total de kilogramos</div>
                                        <h2>{{data.kilograms|floatformat:"0"}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    	    <div class="col-lg-4 mt-3">
    	        <div class="card">
    	            <div class="card-body">
    	            	<h4 class="header-title">Animales involucrados</h4>
    					<canvas id="totalAnimalTypesPerBreedingCowChart" width="400" height="400"></canvas>
    	            </div>
    	        </div>
    	    </div>
        </div>

        <div class="card col-lg-12 mt-3">
            <div class="card-body">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Reproducciones</h5>
                </div>
                <small>A continuación se listan las respoducciones finalizadas separadas en: tipo de reproducción, resultado de la reproducción, totales y del ultimo año.</small>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <p class="mb-1">Totales</p>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-1">Ultimo año</9>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-md-3">
                        <canvas id="vacasInseminationChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="vacasNaturalChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="vacasInseminationLastYearChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="vacasNaturalLastYearChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">

            <div class="col-lg-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Reproducciones en proceso</h4>
                        <canvas id="reproductionInProcessChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mt-3">
               <div class="card" style="min-height: 100%;">
                    <div class="card-body" style="display:flex; justify-content: center; align-items: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="seo-fact sbg2">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon"><i class="fa fa-hourglass-1"></i> Reproducciones a tiempo</div>
                                        <h2>{{data.on_time_amount|floatformat:"0"}}</h2>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-12 mt-3">
                                <div class="seo-fact sbg4">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon"><i class="fa fa-hourglass-2"></i> Reproducciones al limite</div>
                                        <h2>{{data.warning_amount|floatformat:"0"}}</h2>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-12">
                                <div class="seo-fact sbg3 mt-3">
                                    <div class="p-4 d-flex justify-content-between align-items-center">
                                        <div class="seofct-icon"><i class="fa fa-hourglass-3"></i> Reproducciones atrazadas</div>
                                        <h2>{{data.danger_amount|floatformat:"0"}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="card col-lg-12 mt-3">
            <div class="card-body">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Estado físico</h5>
                </div>
                <small>A continuación se lista el estado físico de los animales, indiando si los mismos contienen o no madurez sexual, desarrollo coporal o alguna enfermedad</small>
                <div class="row">   
                    <div class="col-md-4">
                        <canvas id="sexualMaturityChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas id="bodyDevelopmentChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas id="diseaseChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        function loadCharts(animals_types, animals_count_by_types, vacas_insemination, vacas_natural, vacas_insemination_last_year,
            vacas_natural_last_year, reproductions_in_process_animals_types, reproductions_in_process,sexual_maturity_count, 
            body_development_count, disease_count, animals_count) {
            setTotalAnimalTypesPerBreedingCowChart(animals_types, animals_count_by_types);
            setVacasInseminationChart(vacas_insemination);
            setVacasNaturalChart(vacas_natural);
            setVacasInseminationLastYearChart(vacas_insemination_last_year);
            setVacasNaturalLastYearChart(vacas_natural_last_year);
            setReproductionInProcessChart(reproductions_in_process_animals_types, reproductions_in_process);
            setSexualMaturityChart(animals_count, sexual_maturity_count);
            setBodyDevelopmentChart(animals_count, body_development_count);
            setDiseaseChart(animals_count, disease_count);
        }

		function setTotalAnimalTypesPerBreedingCowChart(animals_types, animals_count_by_types) {
            var ctx = document.getElementById('totalAnimalTypesPerBreedingCowChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'polarArea',
                data: {
                    labels: animals_types,
                    datasets: [{
                        label: 'Animales en los Rodeos',
                        data: animals_count_by_types,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    }]
                },

            });
        }

        function setVacasInseminationChart(vacas_insemination) {
            var ctx = document.getElementById('vacasInseminationChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Exitosa', 'No exitosa'],
                    datasets: [{
                        label: 'Inseminaciones',
                        data: vacas_insemination,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },

            });
        }

        function setVacasNaturalChart(vacas_natural) {
            var ctx = document.getElementById('vacasNaturalChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Exitosa', 'No exitosa'],
                    datasets: [{
                        label: 'Montas Naturales',
                        data: vacas_natural,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },

            });
        }

        function setVacasInseminationLastYearChart(vacas_insemination_last_year) {
            var ctx = document.getElementById('vacasInseminationLastYearChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Exitosa', 'No exitosa'],
                    datasets: [{
                        label: 'Inseminaciones',
                        data: vacas_insemination_last_year,
                        backgroundColor: [
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },

            });
        }

        function setVacasNaturalLastYearChart(vacas_natural_last_year) {
            var ctx = document.getElementById('vacasNaturalLastYearChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Exitosa', 'No exitosa'],
                    datasets: [{
                        label: 'Montas Naturales',
                        data: vacas_natural_last_year,
                        backgroundColor: [
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },

            });
        }

        function setReproductionInProcessChart(reproductions_in_process_animals_types, reproductions_in_process) {
            var ctx = document.getElementById('reproductionInProcessChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'polarArea',
                data: {
                    labels: reproductions_in_process_animals_types,
                    datasets: [{
                        label: 'Animales en los Rodeos',
                        data: reproductions_in_process,
                        backgroundColor: [
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                        ],
                    }]
                },

            });
        }

        function setSexualMaturityChart(animal, sexualMaturity) {
            var noTiene = animal - sexualMaturity
            var ctx = document.getElementById('sexualMaturityChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Contiene', 'No contiene'],
                    datasets: [{
                        label: 'Madurez sexual',
                        data: [sexualMaturity, noTiene],
                        backgroundColor: [
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(153, 102, 255, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },

            });
        }

        function setBodyDevelopmentChart(animal, bodyDevelopment) {
            var noTiene = animal - bodyDevelopment
            var ctx = document.getElementById('bodyDevelopmentChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Contiene', 'No contiene'],
                    datasets: [{
                        label: 'Desarrollo corporal',
                        data: [bodyDevelopment, noTiene],
                        backgroundColor: [
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(153, 102, 255, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },

            });
        }

        function setDiseaseChart(animal, disease) {
            var noTiene = animal - disease
            var ctx = document.getElementById('diseaseChart').getContext('2d');
            var totalAnimalTypesPerBreedingCowChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Contiene', 'No contiene'],
                    datasets: [{
                        label: 'Enfermedad',
                        data: [disease, noTiene],
                        backgroundColor: [
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(153, 102, 255, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },

            });
        }

    </script>
{% endblock %}
